#https://phpstan.org/user-guide/getting-started

parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - vendor/*

    reportUnmatchedIgnoredErrors: true

#    ignoreErrors:
#        - '#PHPDoc tag @var#'

    fileExtensions:
        - php

includes:
    - phpstan-baseline.neon
